body {
  background-color: #C0C0C0;
  font-family: sans-serif;
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
}

.header {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
  display: block;
  box-sizing: inherit;
}

.headerText {
  color: #FFD700;
  padding: 10px;
  font-size: 20px;
}

.body {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.joinForm {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 80px;
  height: 100%;
  background-color: #808080;
}

div.usernameField {
  width: 50%;
}

input.usernameField {
  border-width: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  font-size: 20px;
  outline: none;
  margin-top: 15px;
  color: #FFD700;
}

hr.usernameField {
  border-top: none #2d2d2d;
  border-left: none #2d2d2d;
  border-right: none #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  box-sizing: content-box;
  margin: 5px 0px 0px 0px;
  width: 100%;
}

button.joinGame {
  margin-top: 40px;
}

button {
  border-style: none;
  font-size: 20px;

  padding: 5px 15px 5px 15px;
  color: #FFD700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0;
  background-color: #2d2d2d;
}

button:hover {
  background-color: rgba(255,255,255,.2);
}

button.endTurn {
  position: absolute;
  right: 0px;
}

div.controlBar {
  position: absolute;
  width: 816px;
  height: 30px;
  margin-top: 5px;
}

.game {
  position: relative;
}

.player-area {
  position: absolute;
  margin-top: 545px;
}

.unused-token {
  position: absolute
}

.race-selector {
  position: relative;
  height: 110px;
  width: 200px;
}

.race-selector.selected {
  border-width: 5px;
  border-style: solid;
}

.race-selector p {
  position: absolute;
  vertical-align: middle;
  font-family: monospace;
  top: 20px;
  font-size: 20px;
  left: 100px;
}

.race-selector .army {
  left: 5px;
}

.army-count {
  position: relative;
  top: 40px;
  left: 100;
  font-size: 30;
  font-family: monospace;
}

.board {
  position: absolute;
  height: 510;
  width: 816;
  margin-top: 40px;
}

.tile {
  background-color: green;
  float: left;
  margin: 1px 1px 1px 1px;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 0;
}

.gold {
  background-color: gold;
  height: 20px;
  width: 20px;
  top: 8px;
  right: 8px;
  text-align: center;
  color: black;
  position: absolute;
  border-width: 1px;
  border-color: darkgray;
  border-style: solid;
}

.army {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 10px;
  top: 10px;
  border-width: 1px;
  border-color: darkgray;
  border-style: solid;
}

.army p {
  font-size: 30;
  font-family: monospace;
  right: 8px;
  top: 4px;
  position: absolute;
}

.army.selected {
  border-width: 4px;
}

.army.unplaced {
  opacity: 0;
}

.army.unplaced:hover {
  opacity: 95;
  transition: all 0.2s ease-in-out;
}

.palisade {
  position: absolute;
  z-index: 1;
  background-color: darkslategray;
}

.palisade.unplaced {
  opacity: 0;
}

.palisade.unplaced:hover {
  opacity: 95;
  transition: all 0.1s ease-in-out;
}

.palisade.vertical {
  width: 12px;
  height: 90px;
}

.palisade.horizontal {
  width: 90px;
  height: 12px;
}
